@font-face {
  font-family: OpenSans;
  src: url(fonts/OpenSans-Regular.woff);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: OpenSans;
  src: url(fonts/OpenSans-Bold.woff);
  font-weight: 700;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  font-family: OpenSans, Arial, sans-serif;
}

/* Start HEADER */

.header {
  background-color: #2828cc;    /* Для проверки*/
  background-image: url(img/football_767.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
}
.header::before {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: #161b38;
  opacity: 0.9;
}
.header_container {
	box-sizing: border-box;
	position: relative;
	z-index: 1;
}

.logo {
  padding-top: 33px;
  display: block;
  width: 140px;
  margin-left: auto;
  margin-right: auto;
}
.logo_text {
	fill: #fff;
}

.title_header {
	margin: 0;
	margin-top: 137px;
}
.title_text {
	display: block;
	margin-left: 21px;
	margin-right: 42px;
	font-size: 28px;
	font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
}
.title_text_2 { 
	margin-top: 30px; 
	margin-left: 65px;
}

.buttons {
  padding: 90px 20px 84px;
  
}
.link_buttons {
	height: 35px;
	text-decoration: none;
	box-sizing: border-box;
	background-color: #5e42b0;
	border: none;
	border-radius: 18px;
	cursor: pointer;
	display: flex;
  align-items: center;
	justify-content: center;
}
.download_icon {
	width: 25px;
  fill: #ffffff;
}
.download_link_label {
	margin-left: 10px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
  justify-content: flex-end;
	text-transform: uppercase;
	color: #fff;
	font-size: 8px;
	font-weight: 400;
}
.link_label_2 {
	font-weight: 700; 
}
.link_download_google_play {
	margin-top: 14px;
}

/* The End of HEADER */

/* Start MAIN sections */

.section_main, .section_players {
  margin: 0;
	position: relative;
}
.title_section {
  margin: 0;
	padding: 25px 20px 224px;
  font-size: 50px;
  font-weight: 700;
  color: #c1c1c1;         /* Цвет ЗАГОЛОВКА title_section */
  text-transform: uppercase;
}
.list_article {
  list-style: none;
  margin: 0;
  padding: 0;
}
.article {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
	align-items: center;
	padding-top: 80px;
}
.number_article {
  margin: 0;
  padding-left: 20px;
  font-size: 14px;
  font-weight: 700;
  color: #000000; /* цвет номера секций article */
}
.number_article::after {
  content: "";
  display: block;
  width: 15px;
  height: 4px;
  border-radius: 1.5px;
  margin-top: 0;
  padding-top: 0;
}
.title_article {
  margin: 0;
  padding: 0;
  font-size: 23px;
  margin-left: 10px;
  text-transform: uppercase;
  color: #c1c1c1;
}
.article_description {
	display: block;
	width: 100%;
  margin: 0;
  padding: 25px 20px 50px;
  font-size: 15px;
}
  
/* Индивидуальные стили оформления секции ATHLETS */
/* Картинка stction ATHLETS */
.section_image_athlets {
	position: absolute;
  top: 9%;
  left: 50%;
  transform: translateX(-50%);
}
									/* CONNECTION */
/* цвет фона секции connection */
.article_connection_athlets {
  background-color: #fafafa;
}
/* цвет подчеркивающей линии секции connection */
.number_article_connection_athlets::after {
  background: #5e42b0;
}

									/* COLLABORATION */
/* цвет фона секции collaboration */
.article_collaboration_athlets {
  background-color: #f5f4f9;
}
/* цвет подчеркивающей линии секции collaboration */
.number_article_collaboration_athlets::after {
  background: #5e42b0;
}

									/* GROWTH */
/* цвет фона секции connection */
.article_growth_athlets {
  background-color: #5e42b0;
}
/* цвет подчеркивающей линии секции connection */
.number_growth_athlets::after {
  background: #ffffff;
}
/* цвет текста секции growth */
.article_description_growth {
  color: #ffffff;
}

/* Индивидуальные стили оформления секции PLAYERS */
/* Картинка stction PLAYERS */
.section_image_players {
	position: absolute;
  top: 9%;
  left: 50%;
  transform: translateX(-50%);
}
									/* CONNECTION */
/* цвет фона секции connection */
.article_connection_players {
  background-color: #fafafa;
}
/* цвет подчеркивающей линии секции connection */
.number_article_connection_players::after {
  background: #5e42b0;
}

									/* COLLABORATION */
/* цвет фона секции collaboration */
.article_collaboration_players {
  background-color: #f5f4f9;
}
/* цвет подчеркивающей линии секции collaboration */
.number_article_collaboration_players::after {
  background: #5e42b0;
}

									/* GROWTH */
/* цвет фона секции growth */
.article_growth_players {
  background-color: #090c35;
}
/* цвет номера секции growth */
.number_growth_players {
  color: #5e42b0;
}
/* цвет подчеркивающей линии секции growth */
.number_growth_players::after {
  background: #efefef;
}
/* цвет текста секции growth */
.article_description_growth_players {
  color: #ffffff;
}

/* The End of MAIN sections */

/* Start Aside_section */

.section_aside {
	margin: 0;
	padding: 0;
}
.aside_image_item {
	width: 100%;
}

.section_aside_post {
	margin: 0;
	padding: 0;
	position: relative;
  padding: 34px 20px 60px;
}
.number_post {
	display: flex;
	flex-direction: column;
  justify-content: center;
  align-items: center;
	background-color: #5e42b0;
	width: 70px;
  height: 70px;
	font-size: 14px;
	font-weight: 700; 
  color: #f5f6f7;
  position: absolute;
  left: 20px;
  top: -58px;
}
.number_post::after {
  content: "";
  width: 14px;
  height: 4px;
  background-color: #fff;
  border-radius: 4px;
  margin-top: 4px;
  color: inherit;
}
.section_title_article {
  margin: 0;
  margin-left: 20px;
  text-transform: uppercase;
  color: #e7e7e7;
  font-weight: 700;
  font-size: 28px;
}
.section_article_description {
  margin: 0;
  padding-top: 24px;
  font-weight: 400;
  font-size: 16px;
}

/* The End of Aside_section */

/* FOOTER */

.footer {
  background-color: #2828cc;    /* Для проверки*/
  background-image: url(img/game_767.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
}
.footer::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #161b38;
  opacity: 0.9;
}
.footer_conteiner {
  box-sizing: border-box;
  position: relative;
  z-index: 1;
	padding-top: 100px;
}
.link_home {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.link_home_page {
  width: 75px;
  height: 75px;
 	border: none;
  border-radius: 25%;
  background-color: #5e42b0;
  cursor: pointer;
	display: flex;
	justify-content: center;
}
.logo_button_home {
	width: 85%;
  fill: #ffffff;
}
.title_footer {
	width: 100%;
	margin: 0;
  min-width: 280px;
  box-sizing: border-box;
  text-transform: uppercase;
	text-align: center;
  margin-top: 60px;
  font-weight: 700;
  font-size: 32px;
  color: #ffffff;
}
.title_footer_text {
	display: block;
  margin: 0;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
  color: #9b8ec1;
}
.logo_footer {
	padding-top: 0;
  padding-bottom: 10px;
}


@media (min-width: 641px) and (max-width: 960px) {
	.header {
		background-image: url(img/football_1280.jpg);
		display: flex;
		justify-content: center;
	}
	.logo {
		padding-top: 40px;
		width: 205px;
	}
	.title_header {
		margin-top: 181px;
	}
	.title_text {
		display: block;
		margin-left: 90px;
		margin-right: 85px;
		font-size: 64px;
	}
	.title_text_2 {
		margin-left: 195px;
	}
	.buttons {
		display: flex;
		justify-content: center;
		padding-top: 312px;
		padding-bottom: 91px;
	}
	.link_buttons {
		width: 312px;
		height: 77px;
		border-radius: 40px;
	}
	.link_download_app_store {
		margin-right: 16px;
	}
	.link_download_google_play {
		margin-top: 0;
		margin-left: 16px;
	}
	.download_icon {
	width: 37px;
	}
	.download_link_label {
	margin-left: 27px;
	font-size: 14px;
	}
/* End of	HEADER*/
	
/* Start of	MAIN*/
	.article, .number_article {
		padding: 0;
		margin: 0;
	}
	.number_article {
		font-size: 18px;
	}
	.number_article::after {
		width: 20px;
  	height: 5px;
		border-radius: 2.5px;
	}
	.title_article {
		font-size: 32px;
	}
	.article_description {
		padding: 32px 0;
		font-size: 16px;
	}
	
	
	/* Индивидуальные стили оформления секции ATHLETS */
/* Картинка section ATHLETS */	
	.section_image_athlets {
		position: absolute;
		top: 14%;
		left: 11.3%;
		transform: translateX(-50%);
	}
	.title_athlets {
		margin-left: 300px;
		padding: 86px 0 0 0;
		font-size: 80px;
	}
	.article_connection_athlets {
		padding-top: 42px;
		padding-left: 300px;
		padding-right: 20px;
	}
	.article_collaboration_athlets {
		padding-top: 42px;
		padding-left: 300px;
		padding-right: 20px;
	}
	.article_growth_athlets {
		padding-top: 42px;
		padding-left: 300px;
		padding-right: 20px;
	}
	
		/* Индивидуальные стили оформления секции PLAYERS */
/* Картинка section PLAYERS */
	
	.section_image_item_players, .section_image_players {
		position: absolute;
		transform: translateX(0);
		top: 10%;
		right: 0;
	}
	.title_players {
		padding: 86px 32px 0;
		font-size: 80px;
	}
	.article_connection_players {
		padding-top: 44px;
		padding-left: 32px;
		padding-right: 370px;
	}
	.article_collaboration_players {
		padding-top: 44px;
		padding-left: 32px;
		padding-right: 370px;
	}
	.article_growth_players {
		padding-top: 44px;
		padding-left: 32px;
		padding-right: 370px;
	}
	
	/* Start Aside_section */

	.section_aside_post {
		padding: 91px 32px 96px;
	}
	.number_post {
		width: 116px;
		height: 116px;
		font-size: 24px;
		left: 32px;
		top: -90px;
	}
	.number_post::after {
		width: 25px;
		height: 5px;
		background-color: #8f7bc8;
		border-radius: 5px;
		margin-top: 5px;

	}
	.section_title_article {
		margin-left: 0;
		font-size: 80px;
	}
	.section_article_description {
		margin: 0;
		padding-top: 38px;
		font-size: 24px;
	}
/* The End of Aside_section */
	
	/* FOOTER */

	.footer_conteiner {
		padding-top: 126px;
	}
		
	.link_home_page {
		width: 130px;
		height: 130px;
		border: none;
		border-radius: 25%;
		background-color: #5e42b0;
		cursor: pointer;
		display: flex;
		justify-content: center;
	}

	.logo_button_home {
		width: 85%;
		fill: #ffffff;
	}

	.title_footer {
		width: 100%;
		margin-top: 83px;
		font-size: 80px;
	}

	.title_footer_text {
		font-size: 30px;
	}

	.logo_footer {
		padding-top: 0;
		padding-bottom: 24px;
	}
	
}

@media (min-width: 961px) and (max-width: 1365px) {
	
  .header {
	  background-image: url(img/football_1280.jpg);
   }
	.logo {
		padding-top: 40px;
		width: 205px;
	}
  .title_header {
    margin-top: 295px;
  }
  .title_text {
		margin-left: 193px;
	  font-size: 72px;
  }
	.title_text_2 {
		margin-left: 305px;
	}
  .buttons {
		display: flex;
		justify-content: center;
		padding-top: 222px;
		padding-bottom: 110px;
	}
	.link_buttons {
		width: 312px;
		height: 77px;
		border-radius: 40px;
	}
	.link_download_app_store {
		margin-right: 16px;
	}
	.link_download_google_play {
		margin-top: 0;
		margin-left: 16px;
	}
	.download_icon {
		width: 37px;
	}
	.download_link_label {
		margin-left: 27px;
		font-size: 14px;
	}
	
/*	MAIN */
	
	.article, .number_article {
		padding: 0;
		margin: 0;
	}
	.article {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
	.number_article {
		font-size: 18px;
	}
	.number_article::after {
		width: 20px;
  	height: 5px;
		border-radius: 2.5px;
	}
	.title_article {
		font-size: 36px;
	}
	.article_description {
		padding: 32px 0;
		font-size: 16px;
	}
	
	
	/* Индивидуальные стили оформления секции ATHLETS */
/* Картинка section ATHLETS */	
.section_image_athlets {
	position: absolute;
  top: 5%;
  left: 30%;
  transform: translateX(-50%);
}
	.title_athlets {
		margin-left: 54%;
		padding: 86px 0 0 0;
		font-size: 80px;
	}
	.article_connection_athlets {
		padding-top: 42px;
		padding-left: 54%;
		padding-right: 33px;
	}
	.article_collaboration_athlets {
		padding-top: 42px;
		padding-left: 54%;
		padding-right: 33px;
	}
	.article_growth_athlets {
		padding-top: 42px;
		padding-left: 54%;
		padding-right: 33px;
	}
	
		
		/* Индивидуальные стили оформления секции PLAYERS */
/* Картинка section PLAYERS */
	
	.section_image_item_players, .section_image_players {
		position: absolute;
		transform: translateX(0);
		top: 10%;
		right: 0;
	}
	.title_players {
		padding: 86px 32px 0;
		font-size: 80px;
	}
	.article_connection_players {
		padding-top: 44px;
		padding-left: 32px;
		padding-right: 370px;
	}
	.article_collaboration_players {
		padding-top: 44px;
		padding-left: 32px;
		padding-right: 370px;
	}
	.article_growth_players {
		padding-top: 44px;
		padding-left: 32px;
		padding-right: 370px;
	}
	
	/* ASIDE */
	/* Start Aside_section */

	.section_aside {
		display: flex;
		max-width: 1920px;
		margin-left: auto;
		margin-right: auto;
	}
	.aside_image {
		width: 50%;
		box-sizing: border-box;
	}
	.section_contact {
		display: flex;
		flex-direction: row-reverse;
	}
	
	.section_aside_post {
		align-items: center;
		width: 50%;
		position: relative;
		padding: 3% 0 0 122px;
		box-sizing: border-box;
	}
	.number_post {
		width: 168px;
		height: 168px;
		font-size: 24px;
		transform: translateX(-50%);
		left: 0;
		top: 30%;
	}
	.number_post_contact {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background-color: #5e42b0;
		width: 168px;
		height: 168px;
		font-size: 24px;
		font-weight: 700; 
		color: #f5f6f7;
		position: absolute;
		transform: translateX(-50%);
		left: 100%;
		top: 30%;
	}
	
	.number_post::after {
		content: "";
		width: 24px;
		height: 5px;
		background-color: #fff;
		border-radius: 3px;
		margin-top: 5px;
		color: inherit;
	}
	.section_title_article {
		margin: 0;
		text-transform: uppercase;
		color: #e7e7e7;
		font-weight: 700;
		font-size: 80px;
	}
	.section_title_article_contact {
		padding-right: 80px;
	}
	
	.section_aside_post_contact {
		padding-left: 8.7%;
	}
	
	.section_article_description_contact {
		padding-right: 17%;
	}
	
	.section_article_description {
		margin: 0;
		padding-top: 24px;
		font-weight: 400;
		font-size: 24px;
	}
	
	/* FOOTER */

	.footer_conteiner {
		padding-top: 229px;
	}
	
	.link_home {
		width: 100%;
		display: flex;
		flex-wrap: nowrap;
		align-items: center;		
	}
		
	.link_home_page {
		width: 130px;
		height: 130px;
		border: none;
		border-radius: 25%;
		background-color: #5e42b0;
		cursor: pointer;
		flex: none;
		
	}
	.title_footer {
		width: auto;
		margin-top: 0;
		margin-left: 50px;
		font-size: 80px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
	}

	.title_footer_text {
		margin-right: auto;
		font-size: 30px;
	}

	.logo_footer {
		padding-top: 0;
		padding-bottom: 52px;
	}
	
}

@media (min-width: 1366px) {
  .header {
	  background-image: url(img/football_1920.jpg);
  }
  .title_header {
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 295px;
  }
  .title_text {
		margin-left: 193px;
		font-size: 90px;
  }
	.title_text_2 {
    margin: 0;
		margin-left: 664px;
	}
  .buttons {
		display: flex;
		justify-content: center;
		padding-top: 222px;
		padding-bottom: 110px;
	}
	.link_buttons {
		width: 312px;
		height: 77px;
		border-radius: 40px;
	}
  
	.link_download_app_store {
		margin-right: 16px;
	}
  .link_download_app_store:hover {
    background-color: #553b9d;
  }
	.link_download_google_play {
		margin-top: 0;
		margin-left: 16px;
	}
  .link_download_google_play:hover {
    background-color: #553b9d;
  }
	.download_icon {
		width: 37px;
	}
	.download_link_label {
		margin-left: 27px;
		font-size: 14px;
	}
	
/*	MAIN */
	
	.section_main {
		max-width: 1920px;
		margin-left: auto;
		margin-right: auto;
	}
	.article, .number_article {
		padding: 0;
		margin: 0;
	}
	.article {
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
}
	.number_article {
		font-size: 18px;
	}
	.number_article::after {
		width: 20px;
  	height: 5px;
		border-radius: 2.5px;
	}
	.title_article {
		font-size: 36px;
	}
	.article_description {
		padding: 32px 0 51px;
		font-size: 20px;
	}
	
	
	/* Индивидуальные стили оформления секции ATHLETS */
/* Картинка section ATHLETS */	
.section_image_athlets {
	position: absolute;
  top: 5%;
  left: 30%;
  transform: translateX(-50%);
}
	.title_athlets {
		margin-left: 54%;
		padding: 117px 0 0 0;
		font-size: 80px;
	}
	.article_connection_athlets {
		padding-top: 62px;
		padding-left: 54%;
		padding-right: 33px;
	}
	.article_collaboration_athlets {
		padding-top: 62px;
		padding-left: 54%;
		padding-right: 33px;
	}
	.article_growth_athlets {
		padding-top: 62px;
		padding-left: 54%;
		padding-right: 33px;
	}
	
		
		/* Индивидуальные стили оформления секции PLAYERS */
/* Картинка section PLAYERS */
	
	.section_image_item_players, .section_image_players {
		position: absolute;
		transform: translateX(0);
		top: 0;
		right: 5%;
	}
	.title_players {
		padding: 86px 32px 0;
		font-size: 80px;
	}
	.article_connection_players {
		padding-top: 62px;
		padding-left: 32px;
		margin-right: 50%;
	}
	.article_collaboration_players {
		padding-top: 62px;
		padding-left: 32px;
		padding-right: 370px;
	}
	.article_growth_players {
		padding-top: 62px;
		padding-left: 32px;
		padding-right: 370px;
	}
	.article_description_connection_players {
		display: block;
		width: 100%;
	}
	
	
/* ASIDE */
	/* Start Aside_section */

	.section_aside {
		display: flex;
		max-width: 1920px;
		margin-left: auto;
		margin-right: auto;
	}
	.aside_image {
		width: 50%;
		box-sizing: border-box;
	}
	.section_contact {
		display: flex;
		flex-direction: row-reverse;
	}
	
	.section_aside_post {
		width: 50%;
		position: relative;
		padding: 12% 0 60px 122px;
		box-sizing: border-box;
	}
	.number_post {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background-color: #5e42b0;
		width: 168px;
		height: 168px;
		font-size: 24px;
		font-weight: 700; 
		color: #f5f6f7;
		position: absolute;
		transform: translateX(-50%);
		left: 0;
		top: 30%;
	}
	.number_post_contact {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background-color: #5e42b0;
		width: 168px;
		height: 168px;
		font-size: 24px;
		font-weight: 700; 
		color: #f5f6f7;
		position: absolute;
		transform: translateX(-50%);
		left: 100%;
		top: 30%;
	}
	
	.number_post::after {
		content: "";
		width: 24px;
		height: 5px;
		background-color: #fff;
		border-radius: 3px;
		margin-top: 5px;
		color: inherit;
	}
	.section_title_article {
		margin: 0;
		text-transform: uppercase;
		color: #e7e7e7;
		font-weight: 700;
		font-size: 80px;
	}
	.section_title_article_contact {
		padding-right: 80px;
	}
	
	.section_aside_post_contact {
		padding-left: 187px;
	}
	
	.section_article_description_contact {
		padding-right: 170px;
	}
	
	.section_article_description {
		margin: 0;
		padding-top: 24px;
		font-weight: 400;
		font-size: 24px;
	}

	/* FOOTER */

	.footer_conteiner {
		padding-top: 229px;
	}
	
	.link_home {
		width: 100%;
		display: flex;
		flex-wrap: nowrap;
		align-items: center;		
	}
		
	.link_home_page {
		width: 130px;
		height: 130px;
		border: none;
		border-radius: 25%;
		background-color: #5e42b0;
		cursor: pointer;
		flex: none;
		
	}
	.title_footer {
		width: auto;
		margin-top: 0;
		margin-left: 50px;
		font-size: 80px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
	}

	.title_footer_text {
		margin-right: auto;
		font-size: 30px;
	}

	.logo_footer {
		padding-top: 0;
		padding-bottom: 52px;
	}
	
}





































