@font-face {
  font-family: OpenSans;
  src: url(fonts/OpenSans-Regular.woff);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: OpenSans;
  src: url(fonts/OpenSans-Bold.woff);
  font-weight: 700;
  font-style: normal;
}

html {
  font-size: 10px;
}

body {
  margin: 0;
	padding: 0;
  font-family: OpenSans, Arial, sans-serif;
}

/* *************** HEADER *************** */
.header {
  background-color: #2828cc;    /* Для проверки*/
  background-image: url(img/football_1920.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
}

.header::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #161b38;
  opacity: 0.9;
}

.header_conteiner {
  box-sizing: border-box;
  position: relative;
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

/* ******************* All Links Description ********************* */
.link {
  text-decoration: none;
}

/* ******************* Header Logo Description ******************* */
.logo {
  padding-top: 33px;
  padding-bottom: 10px;
  width: 43%;
  min-width: 137px;
  max-width: 195px;
}

.logo_text {
  fill: #ffffff;
}

/* ******************* Title header Description ****************** */
.title_header {
  min-width: 280px;
  margin-left: auto;
  margin-right: auto;
	margin-top: 112px;
}

.title_header_text {
  max-width: 470px;
  display: block;
  margin: 0;
  font-size: 28px;
  color: #ffffff;
	text-transform: uppercase;
}

.header_text_wrap {
  display: block;
  margin-left: 45px;
  margin-top: 30px;
	white-space: nowrap;
}

/* ******************* Download Liks Description ***************** */
.download_link_wrapper {
  width: 87.5%;
  min-width: 280px;
  max-width: 370px;
  height: 35px;
  margin-top: 88px;
  margin-left: auto;
  margin-right: auto;
  background-color: #5e42b0;
  cursor: pointer;
  box-sizing: border-box;
  border: none;
  border-radius: 18px;
  display: flex;
  align-items: center;
}
.download_link {
  width: 100%;
  display: flex;
  justify-content: center;
}

.download_icon {
  width: 25px;
  fill: #ffffff;
}

.download_link_label {
  margin-left: 10px;
  font-family: OpenSans;
  font-size: 10px;
  font-weight: 400;
  text-transform: uppercase;
  font-family: sans-serif;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
}

.link_label_2 {
  margin: 0;
  font-weight: 700;
}

.link_google_play {
  margin-top: 14px;
  margin-bottom:84px;
}
/* ************************ Конец HEADER ************************ */

/* *************** MAIN *************** */
.main {
  width: 100%;
}

/* *** ОБЩИЕ стили для оформления секций list_article *** */
.list_article {
  padding: 0;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  list-style: none;
}

/* Описание стилей секции заголовка header_article */
.header_article {
  position: relative;
  padding-top: 25px;
  padding-bottom: 224px;
}

.title_header_main {
  margin: 0;
  width: 87.5%;
  min-width: 280px;
  max-width: 370px;
  margin-left: auto;
  margin-right: auto;
  font-size: 3rem;
  font-weight: 700;
  color: #c1c1c1;         /* Цвет ЗАГОЛОВКА  title_header_main */
  text-transform: uppercase;
}

.section_image {
  position: absolute;
  top: 22%;
  left: 48%;
	transform: translateX(-50%);
}

.section_image_item {
  max-width: 270px;
}

/* Описания стилей секции статей main_article */
.main_article {
  width: 87.5%;
  min-width: 280px;
  max-width: 370px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding-top: 80px;
}

.number_block {
  font-size: 1.4rem;
  font-weight: 700;
  color: #000000; /* цвет номера секций article */
}

.number_block::after {
  content: "";
  display: block;
  width: 15px;
  height: 4px;
  border-radius: 1.5px;
  margin-top: 0;
  padding-top: 0;
}

.title_article {
  margin: 0;
  font-size: 2.3rem;
  margin-left: 1rem;
  text-transform: uppercase;
  color: #c1c1c1;
}

.article_description {
  margin: 0;
  padding-top: 25px;
  padding-bottom: 50px;
  font-size: 1.5rem;
	font
}

                          /* Стили оформления секции ATHLETS */
/* Индивидуальные стили оформления секции CONNECTION ATHLETS */
/* цвет фона секции connection */
.list_article_connection {
  width: 100%;
  background-color: #fafafa;
}

/* цвет подчеркивающей линии секции connection */
.number_block_connection::after {
  background: #5e42b0;
}

/* Индивидуальные стили оформления секции COLLABORATION ATHLETS */
/* цвет фона секции collaboration */
.list_article_collaboration {
  width: 100%;
  background-color: #f5f4f9;
}

/* цвет подчеркивающей линии секции collaboration */
.number_block_collaboration::after {
  background: #5e42b0;
}

/* Индивидуальные стили оформления секции GROWTH ATHLETS */
/* цвет фона секции growth */
.list_article_growth_athlets {
  width: 100%;
  background-color: #5e42b0;
}

/* цвет подчеркивающей линии секции growth */
.number_block_growth_athlets::after {
  background: #ffffff;
}

/* цвет текста секции growth */
.article_description_growth {
  color: #ffffff;
}

                          /* Стили оформления секции PLAYERS */
/* Индивидуальные стили оформления секции CONNECTION PLAYERS */
/* цвет фона секции connection */
.list_article_connection_players {
  width: 100%;
  background-color: #fafafa;
}

/* цвет подчеркивающей линии секции connection */
.number_block_connection::after {
  background: #5e42b0;
}

/* Индивидуальные стили оформления секции COLLABORATION PLAYERS */
/* цвет фона секции collaboration */
.list_article_collaboration_players {
  width: 100%;
  background-color: #f5f4f9;
}

/* цвет подчеркивающей линии секции collaboration */
.number_block_collaboration::after {
  background: #5e42b0;
}

/* Индивидуальные стили оформления секции GROWTH PLAYERS */
/* цвет фона секции growth */
.list_article_growth_players {
  width: 100%;
  background-color: #090c35;
}

/* цвет номера секции growth */
.number_block_growth {
  color: #5e42b0;
}

/* цвет подчеркивающей линии секции growth */
.number_block_growth::after {
  background: #ffffff;
}

/* *************** ARTICLES *************** */
.active_image {
  width: 100%;
  max-width: 640px;
  display: block;
  margin: 0 auto;
}

.article_post {
  width: 100%;
  min-width: 280px;
  max-width: 450px;
  margin: 0;
  margin-left: auto;
	margin-right: auto;
  position: relative;
  padding: 34px 0 60px;
}

.number_post {
  background-color: #5e42b0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  font-weight: bold; 
  color: #f5f6f7;
  width: 70px;
  height: 70px;
  position: absolute;
  left: 20px;
  top: -58px;
}

.number_post::after {
  content: "";
  width: 14px;
  height: 4px;
  background-color: #fff;
  border-radius: 4px;
  margin-top: 4px;
  color: inherit;
}

.title_article {
  margin: 0;
  padding-left: 20px;
  text-transform: uppercase;
  color: #e7e7e7;
  font-weight: 700;
  font-size: 2.8rem;
}

.section_article_description {
  margin: 0;
  padding: 24px 35px 0 20px;
  font-weight: 400;
  font-size: 16px;
}

/* *************** FOOTER *************** */
.footer {
  background-color: #2828cc;    /* Для проверки*/
  background-image: url(img/game_767.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
}

.footer::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #161b38;
  opacity: 0.9;
}

.footer_conteiner {
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.link_home {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.link_home_page {
  margin: 0;
  padding: 0;
  width: 75px;
  height: 75px;
  margin-top: 100px;
  border: none;
  border-radius: 1.5rem;
  background-color: #5e42b0;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo_button_home {
  width: 85%;
  fill: #ffffff;
}

/* ******************* TITLE FOOTER ****************** */
.title_footer {
  margin: 0;
  width: 93.49%;
  min-width: 280px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: uppercase;
  margin-top: 60px;
  font-weight: 700;
  font-size: 3.2rem;
  color: #ffffff;
}

.title_footer_text {
  margin: 0;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.4rem;
  color: #9b8ec1;
}

/* ******************* Download Liks Description ***************** */
.download_link_wrapper {
  width: 87.5%;
  min-width: 280px;
  max-width: 370px;
  height: 3.5rem;
  margin-top: 88px;
  margin-left: auto;
  margin-right: auto;
  background-color: #5e42b0;
  cursor: pointer;
  box-sizing: border-box;
  border: none;
  border-radius: 1.8rem;
  display: flex;
  align-items: center;
}

.download_link {
  width: 100%;
  display: flex;
  justify-content: center;
}

.download_icon {
  width: 25px;
  fill: #ffffff;
}

.download_link_label {
  margin-left: 1rem;
  font-family: OpenSans;
  font-size: 1rem;
  font-weight: 400;
  text-transform: uppercase;
  font-family: sans-serif;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
}

.link_label_2 {
  margin: 0;
  font-weight: 700;
}

.link_google_play {
  margin-top: 14px;
  margin-bottom:84px;
}

/* ******************* LOGO FOOTER ******************* */
.logo_footer {
  width: 43%;
  min-width: 137px;
  max-width: 190px;
  margin-bottom: 10px;
}

.logo_text {
  fill: #ffffff;
}
/* ************************ Конец FOOTER ************************ */